body{
    background-color: rgb(240, 240, 240);
    text-align: justify;
}


/* titulos */

h1{
    margin-top: -22px;
    padding-top: 45px;
}

h2#dif{
    font-family: Arial, Helvetica, sans-serif;
    color: black;
}

h1, h2, h3{
    text-align: center;
}

/* nav */

nav ul{
    list-style: none;
    position: absolute;
    top: 0px;
    left: 65.5%;  
}

nav ul li{
    display: inline-block;
    margin-right: 10px;
}

nav ul li img#img{
    position: absolute;
    top: -12px;
    left: calc(90% + 5px);    
}

/* header */

header{
    background-color: rgb(53, 53, 255);
    margin: 0px -8px  20px -8px;
    padding-bottom: 15px;
}

/* lista */

ul li{
    text-align: left;
    margin-top: -20px;
}

div#lista{
    margin: auto;
    width: max-content;
}

ul{
    margin-left: 60px;
}

li{
    margin: 20px auto;
}

/* Paragrafos */

section p{
    text-indent: 30px;
    max-width: 90%;
    margin: auto;

}

p#credito{
    font-size: .9em;
    text-align: right;
    margin-right: 30px;
}

p#ad{
    font-size: .8em;
    text-align: center;

}

/* Iframe */

iframe{
    max-width: 80%;
}

#I{
    text-align: center;
    margin-top: 40px;
}

/* section */

section{
    width: 70%;
    margin: auto;
    background-color: white;
    padding: 50px;
    border-radius: 10px;
    box-shadow: 3px 3px 3px rgba(0, 0, 0, .08);
}

/* hr */

hr{
    border-top: 1px solid rgb(253, 253, 253);
    margin: 50px 20px;
}

/* footer */

footer{
    text-align: center;
}

/* div com o audio */

div{
    text-align: center;
}
