@charset "UTF-8";

/* Corpo */

section{
    text-align: justify;
}

/* titulos */

section h2#dif{
    font-family: Arial, Helvetica, sans-serif;
    color: black;
}

section h2, section h3{
    text-align: center;
    margin: 40px auto;
}

/* lista */

ul li{
    text-align: left;
    margin-top: -20px;
}

div#lista{
    margin: auto;
    width: max-content;
}

ul{
    margin-left: 60px;
}

li{
    margin: 20px auto;
}

/* Paragrafos */

section p{
    text-indent: 30px;
    max-width: 90%;
    margin: auto;

}

p#credito{
    font-size: .9em;
    text-align: right;
    margin-right: 30px;
}

p#ad{
    font-size: .8em;
    text-align: center;
}

/* Iframe */

iframe{
    width: 50%;
    height: auto;
    max-width: 500px;
}

#I{
    text-align: center;
    margin: 40px auto;
} 

/* section */ 
section{
    width: 70%;
    margin: 0px auto;
    background-color: white;
    padding: 50px;
    border-radius: 0px 0px 10px 10px;
    box-shadow: 3px 3px 3px rgba(0, 0, 0, .08);
} 

/* hr */

hr{
    border-top: 1px solid rgb(253, 253, 253);
    margin: 50px 20px;
}

/* div com o audio */

div{
    text-align: center;
}
