@charset "UTF-8";

:root{
    --CorFundo: white;
    --Corh2Divisao: black;
    --Corhr: #f0f0f0;
    --CorLinkAside: #646464;
    --CorLinkAsideHover: #2b80ff;
}

h2.divisao{
    color: var(--Corh2Divisao);
    font-size: 1.6em;
    text-align: center;
    margin-bottom: 20px;
}

section h2{
    margin-top: 20px;
}

div#dados{
    background-color: var(--CorFundo);
    width: 50%;
    min-width: 300px;
    display: flex;
    flex-direction: column;
    margin: 20px 10px;
}

div#cont{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
}

div#dados img{
    /* display: block;
    float: left; */
    margin-left: 10%;
    margin-bottom: 20px;
    width: 170px;
    height: 249px;
}

div#foto{
    min-width: 200px;
    /* margin: auto;
    display: inline-block; */
}
/* 
div#resto{
    clear: both;
} */

div#resto ul{
    margin-top: 20px;
}

div#info{
    /* display: inline-block; */
    display: flex;
    align-items: center;
    min-width: 200px;
}

section{
    margin: auto;
    max-width: 1000px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;    
}

section ul{
    list-style: none;
}

section ul li{
    margin-bottom: 20px;
}

div ul{
    margin-top: 2px;
}

p#alert{
    font-size: .7em;
}

hr{
    border: 1px solid var(--Corhr);
}

aside{
    background-color: white;
    width: 32%;
    height: min-content;
    min-width: 300px;
    margin: 20px 10px;
}

aside#border, div#dados{
    border-radius: 10px;
    border: 1px solid rgb(218, 218, 218);
    box-shadow: 2px 2px 2px rgba(0, 0, 0, .1);
}

aside a{
    text-decoration: none;
    color: black;
    color: var(--CorLinkAside);
    transition: .2s;
}

aside a:hover{
    color: var(--CorLinkAsideHover);
    font-size: 1.4em;
    transition: .2s;
}

aside ul li{
    padding: 5px;
    margin: 15px auto 15px auto;
    text-align: center;
    max-width: min-content;
}


